.hero {
    background-image: url('./images/card5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    color:white;
    height:453px;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    position:relative;
}
.hero div:not(:last-of-type) {
    z-index: 50;
}
.hero > div:nth-child(1){
    background-color: black;
    padding: 0rem .5rem 2px .5rem;
    transform: skewX(-8deg) rotateZ(-7deg);
    width:fit-content;
    position: relative;
    margin-bottom: 2rem;
}
.titleText {
    transform: skewX(0deg) rotateZ(0deg);
    animation: heroSlide 450ms ease-in forwards;
    font-size: 1.85rem;
}
.titleText::after {
    content: '99';
    font-size: 1.25rem;
    text-decoration: underline;
    margin: 0rem .1rem 0rem .35rem;
    position: relative;
    bottom: .5rem;
    
}
@keyframes heroSlide {
    from {
        transform: translateX(-30rem);
    }
}
.hero > div:nth-child(2){
    background-color: var(--color4);
    transform: skewX(-30deg) translateX(20px);
    width:fit-content;
    position: relative;
    margin-bottom: 1.5rem;
}
.hero > div:nth-child(2) h3{
    font-size: 1.15rem;
    background-color: var(--color4);
    padding: 0rem .5rem 2px .5rem;
    transform: skewX(30deg) translateX(-20px);
    height: 100%;
}

.hero > div:nth-child(3){
   margin-bottom: 2.15rem;
  
}
.hero > div:nth-child(3) h1{
   font-size: 2.1rem;
    
}
.hero > div:nth-child(3) h3{
   font-size: 1.52rem;
    
}
.hero > div:nth-child(3) h4{
   font-size: 1rem;
    
}
.hero > div:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem
}
.hero > div:nth-child(4) a {
  width: fit-content;
  display: inline;
}

.heroGradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 75%
  );

}




@media screen and (max-width: 833px) { 
    .hero {
        height: 470px;
        padding: 1rem;
    }

    .hero > div:nth-child(4) {
       
        gap: .35rem
      }
}