@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100vh;
  font-size: 16px;
  --color0: rgb(209, 209, 209);
  --color1: white;
  --color2: black;
  --color3: #38a575;
  --color4: #ce2735;
  --color5: rgb(230, 230, 230);
  --color6: rgb(46, 46, 46);
  --color7: rgb(98, 98, 98);
  --mainFont: "Oswald", sans-serif;
  --secondaryFont: Helvetica, Arial, sans-serif;
}

/* make these items responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make the form elements inherit font properties the way everything else does */
input,
textarea,
button,
select {
  font: inherit;
}

body {
  min-height: 100%;
  font-family: var(--mainFont);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/*******************************************************************************************/

ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
}
a {
  text-decoration: none;
}
.navContainer {
  width: 100%;
  height: 128px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navContainer ul,
.navContainer li,
.navContainer a {
  display: flex;
  align-items: center;
}
.topNav {
  height: 50%;
}
.topNav li {
  margin: 0.5rem;
}
.topNav li:first-child {
  margin-right: auto;
}
.topNav a {
  height: 50%;
  color: var(--color2);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.startYourOrder > a,
.language > a,
.login > a {
  gap: 0.25rem;
  transition: background-color 150ms ease-in;
}
.startYourOrder > a:hover,
.language > a:hover,
.login > a:hover {
  background-color: var(--color5);
  z-index: 100;
}
.startYourOrder > a:focus,
.language > a:focus,
.login > a:focus {
  background-color: var(--color5);
}
.signUp > a {
  border-radius: 1rem;
  border: 1px solid var(--color2);
  background-color: var(--color2);
  color: var(--color1);
}
.logo {
  height: 1.6rem;
  padding-left: 4vw;
}
.logoIMG {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.filtered {
  filter: brightness(0) saturate(100%) invert(29%) sepia(67%) saturate(5198%)
    hue-rotate(341deg) brightness(83%) contrast(94%);
  /* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element*/
}
.signUp > a:hover {
  background-color: var(--color6);
}
.signUp {
  margin-right: 4vw !important;
}

/*popup styling*/
.language {
  position: relative;
}
.language-popup {
  opacity: 1;
  position: absolute;
  background-color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  top: 100%;
  right: -104px;
  z-index: 99;
  font-size: 1rem;
  text-transform: none;
  color: black;
  height: 148px;
  width: 288px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.language-popup::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--color1);
  transform: rotate(55deg) skew(20deg);
  top: -0.1rem;
  left: 45%;
}
.hide-popup {
  opacity: 0;
  z-index: 1;
  /* display: hidden; */
}

.language-popup h3 {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding-bottom: 0.55rem;
  border-bottom: 1px solid var(--color0);
}
.language-popup ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.language-popup li {
  margin: 0;
  width: 100%;
}
.language-popup a {
  font-family: var(--secondaryFont);
  color: var(--color3);
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
}
.language-popup a:hover {
  text-decoration: underline;
}

/*******************************************************************************************/

.bottomNav {
  height: 50%;
  border-top: 1px solid var(--color0);
  border-bottom: 1px solid var(--color0);
}
.bottomNav li {
  margin: 0rem;
}
.bottomNav li:nth-child(3) {
  margin-right: auto;
}
.bottomNav a {
  color: var(--color2);
}
.menu > a,
.specials > a,
.papaRewards > a {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: larger;
}
.menu > a:hover,
.specials > a:hover,
.papaRewards > a:hover {
  border-bottom: 4px solid var(--color3);
  padding-top: 3.9px; /*stops text from moving upwards when border is added on hover*/
}
.active {
  border-bottom: 4px solid var(--color3);
  padding-top: 3.9px;
}
.menu {
  padding-left: 4vw;
}
.login2 > a {
  padding: 0.5rem;
  border-radius: 2rem;
  color: var(--color1);
  background-color: var(--color2);
  border: 1px solid var(--color2);
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.promoCodeForm {
  position: relative;
  z-index: 50;
}
.promoCodeForm > input {
  padding: 0.35rem;
  border: 1px solid var(--color2);
}
.promoCodeForm > input:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-right: none;
  position: relative;
}
.promoCodeForm > input:first-child:focus {
  border-color: var(--color3);
  outline: none;
}
.promoCodeForm > input:first-child::placeholder {
  font-style: italic;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: smaller;
  position: absolute;
  top: 0.6rem;
}

.promoCodeForm > input:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-left: 1rem;
}

.promoCodeForm > input:nth-child(2) {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: var(--color2);
  color: var(--color1);
  position: relative;
  right: 4px;
  margin-right: 1rem;
}

.cart {
  border-left: 1px solid var(--color0);
  padding: 1rem 0rem 1rem 1rem;
  margin-right: 4vw !important;
  cursor: pointer;
}
.cart > svg {
  margin-right: 0.25rem;
}
.cart > span {
  color: var(--color4);
  font-size: 1.375rem;
  position: relative;
}
.cart > span::before {
  content: "$";
  color: var(--color4);
  font-size: 1rem;
  position: relative;
  bottom: 5px;
}
.login2 > a:hover,
.promoCodeForm input[type="submit"]:hover {
  background-color: var(--color6);
}

/*******************************************************************************************/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: var(--color0) 1px solid;
  padding: 1.5rem max(4rem, 8vw);
}
.footerContentWidthControl {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footerLinks {
  width: calc(100% - min(600px, 42%));
  display: flex;
  align-items: baseline;
}
.footerLinks > div {
  margin-right: auto;
}
footer a {
  color: grey;
  font-size: 0.75rem;
  text-transform: none;
  font-family: var(--secondaryFont);
  letter-spacing: 0px;
}
footer a:hover {
  text-decoration: underline;
}
.footerLinks h4 {
  color: var(--color2);
  font-size: 0.9rem;
  text-transform: none;
}
.franchise {
  width: min(600px, 42%);
}
.franchise > a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: none;
  color: black;
  gap: 1.5rem;
  border: 1px solid var(--color0);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: box-shadow 150ms ease-in;
}
.franchise a {
  font-family: var(--mainFont);
  font-size: 1.25rem;
}
.franchise a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
}
.footerBottom {
  margin-top: 2rem;
  padding-top: 1.75rem;
  border-top: 1px solid var(--color0);
  /* background-color: pink; */
  display: flex;
  align-items: baseline;
}
.countrySelect {
  width: fit-content;
  font-family: var(--secondaryFont);
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.countrySelect:focus {
  border: 1px solid var(--color3);
  outline: none;
}
.legalLinks {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin: 0.5rem auto 1rem 0rem;
}
.legalLinks li {
  /* background-color: aquamarine; */
  display: flex;
}
.footerBottom {
  position: relative;
}
.socialMediaLinkIcons {
  position: relative;
  right: 0;
  top: 6px;
  /* align-self: baseline; */
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 1rem;
  /* background-color: #38a575; */
}
.socialMediaLinkIcons svg {
  transition: color 400ms ease-in-out;
}
.socialMediaLinkIcons svg:hover {
  color: black;
}

/*******************************************************************************************/

/* When the browser is 833px or wider */
@media screen and (min-width: 833px) {
  .mobile {
    display: none !important;
    /* background-color: green; */
  }
  .desktop {
    display: flex !important;
  }
}
/* When the browser is less than 833px wide */
@media screen and (max-width: 833px) {
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
  .navContainer {
    height: 114px;
  }
  .topNav {
    height: 55%;
  }
  .bottomNav {
    height: 45%;
  }
  .menu > a,
  .specials > a,
  .papaRewards > a {
    font-size: 1rem;
  }
  .menu > a:hover,
  .specials > a:hover,
  .papaRewards > a:hover {
    padding-top: 3.7px; /*stops text from moving upwards when border is added on hover*/
  }
  .active {
    padding-top: 3.7px;
  }
  .menu {
    padding-left: 0rem;
  }
  .logo {
    height: 1.6rem;
    padding-left: 0rem;
  }
  .logo img {
    transform: scale(0.75) translateX(-21px);
  }
  footer {
    padding: 1.5rem;
  }
  .footerContentWidthControl {
    flex-direction: column;
  }
  .footerLinks {
    width: 100%;
  }
  .franchise {
    width: 100%;
    padding-top: 1.5rem;
  }
  .legalLinks {
    margin-top: 1.5rem;
  }
  .socialMediaLinkIcons {
    align-self: flex-start;
    margin-left: 0;
  }
}
/* When the browser is less than 639px wide */
@media screen and (max-width: 639px) {
  .ourCompany ul,
  .ourPizza ul,
  .help ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
  }
  .hiddenOnSmallScreens {
    display: none !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footerLinks h4 {
    margin: 0.75rem 0rem 0.25rem 0rem;
    padding: 0.25rem 0rem;
    border-bottom: 1px solid var(--color0);
  }
  .ourCompany,
  .ourPizza,
  .help {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 2px;
  }
  h4::after {
    content: url(assets/chevron-down.svg);
    position: absolute;
    right: -5px;
    top: 1rem;
  }
  .footerLinks li {
    height: auto;
  }
}
/*******************************************************************************************/
/*home.css*/

/*******************************************************************************************/
