@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100vh;
  /* --myColor: orange; */
}

/* make these items responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make the form elements inherit font properties the way everything else does */
input,
textarea,
button,
select {
  font: inherit;
}

body {
  min-height: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
  /* background-color: orange; */
}
a {
  text-decoration: none;
  /* background-color: pink; */
}
.navContainer {
  width: 100%;
  height: 128px;
}
.navContainer ul,
.navContainer li,
.navContainer a {
  display: flex;
  align-items: center;
}
/**************/
.topNav {
  height: 50%;
}
.topNav li {
  margin: .5rem;
}
.topNav li:first-child {
  margin-right: auto;
}
.topNav a {
  height: 50%;
  color: black;
  padding:.5rem;
  border-radius: .3rem;
}
.topNav .language > a,
.topNav .login > a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.signUp > a {
  border-radius: 1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
}
.logo {
  width: 8rem;
  height: 1.6rem;
}

/**************/

.bottomNav {
  height: 50%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.bottomNav li {
  margin: 0rem;
}
.bottomNav li:nth-child(3) {
  margin-right: auto;
}
.bottomNav a {
  color: black;
}
.menu > a,
.specials > a,
.papaRewards > a {
  height: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}
.menu {
  padding-left: max(4vw,32px)
}
.login2 > a {
  padding:.5rem;
  height: 50%;
  border-radius: 1rem;
  color:white;
  background-color: black;
  border: 1px solid black;
  margin-right: .5rem;
}

.promoCodeForm {
  position: relative;
}

.promoCodeForm > input {
  padding:.35rem;
  border: 1px solid black;
}
.promoCodeForm > input:first-child {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border-right: none;
  position: relative;
}

.promoCodeForm > input:first-child::placeholder {
  font-style: italic;
  font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: smaller;
  position: absolute;
  top:.5rem;
}

.promoCodeForm > input:first-child {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  margin-left: 1rem;
}

.promoCodeForm > input:nth-child(2) {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  background-color: black;
  color:white;
  position: relative;
  right: 3px;
  margin-right: 1rem;
} 

.cart {
  border-left: 1px solid grey;
  padding: 1rem;
}
.cart > svg {
  margin-right: 0.25rem;
}
.cart > span {
  color: #AB131B;
}

/* When the browser is 833px or wider */
@media screen and (min-width: 833px) {
  .mobile {
    display: none !important;
    /* background-color: green; */
  }
  .desktop {
    display: flex !important;
  }
}
/* When the browser is less than 833px wide */
@media screen and (max-width: 833px) {
  .mobile {
    display: flex !important;
    /* background-color: burlywood; */
  }
  .desktop {
    display: none !important;
  }

  .menu {
    padding-left: 0rem;
  }
}